@import '../../App.scss';

.headline-container {
    @include flex-center;
    background-color: $primaryColor;
    height: 12.5vh;
    width: calc(100vw - 2.5vh);
    border-radius: 25px 25px 25px 0px;
    color: $secondaryColor;
    position: relative;
    z-index: 5;
    &:before {
        content: "";
        position: absolute;
        background-color: $backgroundColor;
        height: 50px;
        width: 25px;
        left: 0px;
        bottom: -50px;
        border-top-left-radius: 25px;
        box-shadow: 0 -25px 0px 0px $primaryColor;
        z-index: 4;
    }
    h2 {
        z-index: 6;
        }
}

.timeshift-container {
    width: 90%;
    margin: 0px auto;
    // background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .timeshift {
        @include flex-center;
        // background-color: lightcoral;
        color: transparent;
        border-radius: 10px;
        padding: 6px;
        font-weight: bold;
        background: linear-gradient(to right bottom, $primaryColor, $secondaryColor);
        -webkit-background:-webkit-linear-gradient(to right bottom, $primaryColor, $secondaryColor);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        border: 1px solid $primaryColor;
        
        &:hover {
            color: $secondaryAccent;
            transition: 1s;
        }
    }
}

.main-container {
    @include flex-center;
    background-color: $tertiaryColor;
    margin-left: auto;
    border-radius: 25px 0px 0px 25px;
    width: calc(100vw - 2.5vh);
    position: relative;
    z-index: 5;

    &:before {
        content: "";
        background-color: $backgroundColor;
        height: 50px;
        width: 25px;
        box-shadow: 0px 25px 0px 0px $tertiaryColor;
        border-bottom-right-radius: 25px;
        position: absolute;
        top: -50px;
        right: 0px;
        z-index: 4;
    }

    &:after {
        content: "";
        height: 50px;
        width: 25px;
        box-shadow: 0px -25px 0px 0px $tertiaryColor;
        border-top-right-radius: 25px;
        position: absolute;
        bottom: -50px;
        right: 0px;
        z-index: 4;
    }
}

.tasks-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-evenly;
    align-content: flex-start;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: scroll;
    z-index: 8;

    .tasktap {
        @include flex-center;
        background-color: $secondaryColor;
        height: auto;
        min-height: 50px;
        margin-bottom: 10px;
        width: 100%;
        flex-grow: 1;
        border-radius: 15px;
        max-height: 50px;
        font-weight: bold;
        color: $primaryColor;
    }
}
