@import '../../App.scss';

.headline-container {
    @include flex-center;
    background-color: $primaryColor;
    height: 12.5vh;
    width: calc(100vw - 2.5vh);
    border-radius: 25px 25px 25px 0px;
    color: $secondaryColor;
    position: relative;
    z-index: 5;
    &:before {
        content: "";
        position: absolute;
        background-color: $backgroundColor;
        height: 50px;
        width: 25px;
        left: 0px;
        bottom: -50px;
        border-top-left-radius: 25px;
        box-shadow: 0 -25px 0px 0px $primaryColor;
        z-index: 4;
    }
    .date-block {
        display: grid;
        height: 75%;
        width: 10vh;
        z-index: 8;
        border-radius: 15px;
        border: 1px solid $secondaryColor;;
        margin-right: 15px;
        grid-template: "day" 3fr
                       "month" 1fr / 1fr;
        box-shadow: 1px 1px $secondaryColor;
        h3, h4 {
            margin: 0px;
            padding: 0px;
        }
        .day {
            grid-area: day;
            @include flex-center;
            font-weight: bold;
        }
        .month {
            grid-area: month;
            @include flex-center;
        }
    }
    h2 {
        z-index: 6;
        }
}

.timeshift-container {
    width: 90%;
    margin: 0px auto;
    // background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .timeshift {
        @include flex-center;
        transition: .5s;
        color: transparent;
        border-radius: 10px;
        padding: 6px;
        font-weight: bold;
        background: linear-gradient(to right bottom, $primaryColor, $secondaryColor);
        -webkit-background:-webkit-linear-gradient(to right bottom, $primaryColor, $secondaryColor);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        border: 1px solid $primaryColor;
        
        &:hover {
            color: $secondaryAccent;
            transition: .2s;
        }
        &.active {
            border: 2.5px solid $primaryColor;
            box-shadow: 1px 1px $primaryColor;;
        }
    }
}

.main-container {
    @include flex-center;
    flex-direction: column;
    background-color: $tertiaryColor;
    margin-left: auto;
    border-radius: 25px 0px 0px 25px;
    width: calc(100vw - 2.5vh);
    position: relative;
    z-index: 5;

    &:after {
        content: "";
        background-color: $backgroundColor;
        height: 50px;
        width: 25px;
        box-shadow: 0px 25px 0px 0px $tertiaryColor;
        border-bottom-right-radius: 25px;
        position: absolute;
        top: -50px;
        right: 0px;
        z-index: 4;
    }

    &:before {
        content: "";
        height: 50px;
        width: 25px;
        box-shadow: 0px -25px 0px 0px $secondaryColor;
        border-top-right-radius: 25px;
        position: absolute;
        bottom: -50px;
        right: 0px;
        z-index: 3;
    }
}

.tasks-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-evenly;
    align-content: flex-start;
    flex-grow: 1;
    height: 85%;
    width: 100%;
    padding: 10px 0px 10px 10px;
    overflow-y: scroll;
    z-index: 8;

    .tasktap {
        @include flex-center;
        background-color: $secondaryColor;
        height: auto;
        min-height: 50px;
        margin-bottom: 10px;
        width: 100%;
        flex-grow: 1;
        border-radius: 15px 0px 0px 15px;
        max-height: 50px;
        font-weight: bold;
        color: $tertiaryColor;
    }
}
.tasks-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-evenly;
    align-content: flex-start;
    flex-grow: 1;
    height: 85%;
    width: 100%;
    padding: 10px 0px 10px 10px;
    overflow: scroll;
    z-index: 8;

}
.create-task-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-grow: 1;
    height: 85%;
    width: 95%;
    padding: 10px 0px 10px 10px;
    overflow: scroll;
    z-index: 8;
    position: relative;
    padding-top: 5vh;

    .back-button {
        @include flex-center;
        position: absolute;
        top: 10px;
        left: 0px;
        height: 30px;
        width: 75px;
        background-color: $secondaryColor;
        color: $backgroundColor;
        border-radius: 10px;
    }

    input {
        @include flex-center;
        border-radius: 8px;
    }
}
.action-container {
    @include flex-center;
    height: 15%;
    // padding: 3px;
    width: 100%;
    border-top: 2px solid $secondaryColor;
    background-color: $tertiaryColor;
    border-bottom-left-radius: 25px;
    .action-button {
        @include flex-center;
        height: 100%;
        width: 50%;
        // margin: 5px 5px;
        color: $secondaryColor;
        border: 1.5px solid $secondaryColor;
        background-color: $primaryColor;
        box-shadow: 1px 1px $secondaryColor;
        z-index: 12;
        font-weight: bold;
        position: relative;
    }
    .left {
        border-radius: 0px 0px 0px 15px;
        &:after {
            content: "";
            height: calc(100% + 2px);
            width: 12px;
            position: absolute;
            top: 0px;
            right: -12px;
            background-color: $secondaryColor;
        }
    }
    .right {
        border-radius: 0px 0px 15px 0px;
    }
}