$primaryColor: #1a771a;
$secondaryColor: #e4b84a;
$secondaryAccent: #fdecc1;
$backgroundColor: rgb(16, 94, 23);

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: $backgroundColor;
}

h1 {

}
h2 {
    font-size: 1.5rem;
}