// Theme 1 - Woodland
$primaryColor: #1a771a;
$secondaryColor: #e4b84a;
$tertiaryColor: #1a771a;
$secondaryAccent: #fdecc1;
$backgroundColor: rgb(16, 94, 23);

// Theme 2 - Royal Sky
// $primaryColor: rgb(75, 51, 161);
// $secondaryColor: #e4b84a;
// $tertiaryColor: rgb(84, 26, 122);
// $secondaryAccent: #fcf270;
// $backgroundColor: white;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    min-height: 100%;
    // min-height: fill-available;
    min-width: 100vw;
    width: 100vw;
    background-color: $backgroundColor;
    padding: 0px;
    overflow-x: hidden;
}

h1 {

}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}