// Theme 1 - Woodland
// :root {
//     --primary-color: #1a771a;
//     --secondary-color: #e4b84a;
//     --tertiary-color: #1a771a;
//     --secondary-accent: #fdecc1;
//     --background-color: rgb(16, 94, 23);
// }

// Theme 2 - Royal Sky
:root {
    --primary-color: rgb(75, 51, 161);
    --secondary-color: #e4b84a;
    --tertiary-color: rgb(84, 26, 122);
    --secondary-accent: #fcf270;
    --background-color: white;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    min-height: 100%;
    // min-height: fill-available;
    min-width: 100vw;
    width: 100vw;
    background-color: var(--background-color);
    padding: 0px;
    overflow-x: hidden;
}

h1 {

}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    color: var(--secondary-color);
}