@import '../../App.scss';

.tasktap {
    @include flex-center;
    background-color: var(--secondary-color);
    height: auto;
    min-height: 50px;
    margin-bottom: 10px;
    width: 100%;
    flex-grow: 1;
    border-radius: 15px 0px 0px 15px;
    max-height: 50px;
    font-weight: bold;
    color: var(--tertiary-color);
    
    input {
        width: 60px;
        border-radius: 10px;
        margin: 0px 5px;
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}